POSTGRES_BASE_URL=postgres://user:pwd@host:port/
POSTGRES_SSL_MODE=disable
POSTGRES_SSL_ROOTCERT=
# CACHE=SimpleCache
# CACHE_MAXSIZE=1024
# CACHE=RedisCache
# REDIS_BASE_URL=redis://user:pwd@host:port/
# REDIS_SSL=false
# REDIS_SSL_CA_CERTS=
