requests
flask
gunicorn
uvicorn
tqdm
torch
bitsandbytes
accelerate
click
python-dotenv
psycopg[binary]
redis
cachetools
wandb
transformers==4.53.2
tabulate
nltk
rouge-score
pandas
openpyxl
matplotlib
