services:
  postgres:
    restart: $RESTART_POLICY
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    ports:
      - $POSTGRES_LISTEN:5432
    volumes:
      - $POSTGRES_DATA:/var/lib/postgresql/data
  # nginx:
  #   restart: $RESTART_POLICY
  #   image: nginx:1.26
  #   ports:
  #     - $NGINX_LISTEN:443
  #   volumes:
  #     - ./server.crt:/etc/nginx/server.crt:ro
  #     - ./server.key:/etc/nginx/server.key:ro
  #     - ./nginx.conf:/etc/nginx/nginx.conf:ro
  #     - ./.htpasswd:/etc/nginx/.htpasswd:ro
  # httpindex:
  #   restart: $RESTART_POLICY
  #   build:
  #     context: ./httpindex
  #     additional_contexts:
  #       repo: ../..
  #   environment:
  #     INDEX_CONFIG_PATH: httpindex.py
  #     WORKERS_NUM: $API_WORKERS_NUM
  #     POSTGRES_BASE_URL: $POSTGRES_BASE_URL
  #   volumes:
  #     - ./httpindex.py:/app/httpindex.py:ro
  # redis:
  #   image: redis:7
  #   command: redis-server /usr/local/etc/redis/redis.conf
  #   ports:
  #     - $REDIS_LISTEN:6379
  #   volumes:
  #     - $REDIS_DATA:/data
  #     - ./redis.conf:/usr/local/etc/redis/redis.conf
