services:
  postgres:
    restart: $RESTART_POLICY
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    ports:
      - $POSTGRES_LISTEN:5432
    volumes:
      - $POSTGRES_DATA:/var/lib/postgresql/data
      - ./postgresql.conf:/var/lib/postgresql/data/postgresql.conf
      - ./pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
      - ./server.crt:/var/lib/postgresql/data/server.crt:ro
      - ./server.key:/var/lib/postgresql/data/server.key:ro
  nginx:
    restart: $RESTART_POLICY
    image: nginx:1.26
    ports:
      - $NGINX_LISTEN:443
    volumes:
      - ./server.crt:/etc/nginx/server.crt:ro
      - ./server.key:/etc/nginx/server.key:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./.htpasswd:/etc/nginx/.htpasswd:ro
  api:
    restart: $RESTART_POLICY
    build:
      context: ./api
      additional_contexts:
        repo: ../..
    environment:
      INDEX_CONFIG_PATH: api_index.py
      WORKERS_NUM: 4
      POSTGRES_BASE_URL: $POSTGRES_BASE_URL
    volumes:
      - ./api_index.py:/app/api_index.py:ro
  redis:
    image: redis:7
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - $REDIS_LISTEN:6379
    volumes:
      - $REDIS_DATA:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - ./server.crt:/usr/local/etc/redis/server.crt:ro
      - ./server.key:/usr/local/etc/redis/server.key:ro
