services:
  postgres:
    restart: $RESTART_POLICY
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
    ports:
      - $POSTGRES_LISTEN:5432
    volumes:
      - $POSTGRES_DATA:/var/lib/postgresql/data
  # nginx:
  #   restart: $RESTART_POLICY
  #   image: nginx:1.26
  #   ports:
  #     - $NGINX_LISTEN:443
  #   volumes:
  #     - ./server.crt:/etc/nginx/server.crt:ro
  #     - ./server.key:/etc/nginx/server.key:ro
  #     - ./nginx.conf:/etc/nginx/nginx.conf:ro
  #     - ./.htpasswd:/etc/nginx/.htpasswd:ro
  # httpindex:
  #   image: rpozzi/refactx-httpindex:latest

  #   restart: $RESTART_POLICY
  # #  build:
  # #    context: ./httpindex
  # #    additional_contexts:
  # #      repo: ../..
  #   environment:
  #     INDEX: $HTTP_INDEX
  #     WORKERS_NUM: $API_WORKERS_NUM
