POSTGRES_PASSWORD=secret
POSTGRES_NORMAL_USER_NAME=foo
POSTGRES_NORMAL_USER_PASSWORD=anothersecret
POSTGRES_DATA=./path/to/data
POSTGRES_LISTEN=127.0.0.1:5432
NGINX_LISTEN=127.0.0.1:443
RESTART_POLICY=no
API_WORKERS_NUM=8
REDIS_DATA=./data_redis
REDIS_LISTEN=0.0.0.0:6379
