POSTGRES_PASSWORD=secret
POSTGRES_NORMAL_USER_NAME=foo
POSTGRES_NORMAL_USER_PASSWORD=anothersecret
POSTGRES_DATA=./path/to/data
POSTGRES_LISTEN=127.0.0.1:5432
REDIS_DATA=./path/to/data
REDIS_LISTEN=127.0.0.1:6379
RESTART_POLICY=no
