# Allow local Unix socket connections (without password)
local   all             all                                     trust
# Allow SSL connections over the network (with password)
hostssl all             all             0.0.0.0/0               md5
